<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos requeridos por la aplicación -->

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para leer datos del almacenamiento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permisos para acceder a la ubicación del dispositivo -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permiso para verificar el estado de la red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Configuración de la aplicación -->
    <application
        android:allowBackup="true"  <!-- Habilitar respaldo de datos -->
    android:dataExtractionRules="@xml/data_extraction_rules"  <!-- Reglas para extracción de datos -->
    android:fullBackupContent="@xml/backup_rules"  <!-- Reglas para el respaldo completo -->
    android:icon="@mipmap/ic_launcher"  <!-- Icono de la aplicación -->
    android:label="@string/app_name"  <!-- Nombre de la aplicación -->
    android:roundIcon="@mipmap/ic_launcher_round"  <!-- Icono redondo -->
    android:supportsRtl="true"  <!-- Soporte para idiomas de derecha a izquierda -->
    android:theme="@style/Theme.LaChamusca"  <!-- Tema principal de la aplicación -->
    tools:targetApi="31">  <!-- Versión objetivo de la API -->

    <!-- Configuración para Google Places API -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCXh7GAt6nmL0_TuPgIaESUeqnwduW9WGE"/> <!-- Clave de la API -->

    <!-- Declaración de la actividad principal -->
    <activity
        android:name=".MainActivity"  <!-- Nombre de la actividad -->
    android:exported="true"  <!-- Indica que la actividad es accesible externamente -->
    android:label="@string/app_name"  <!-- Etiqueta de la actividad -->
    android:theme="@style/Theme.LaChamusca">  <!-- Tema asignado a la actividad -->

    <!-- Filtro de intención para lanzar la actividad principal -->
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />  <!-- Marca esta actividad como el punto de inicio -->
        <category android:name="android.intent.category.LAUNCHER" />  <!-- Hace que la actividad sea visible en el lanzador -->
    </intent-filter>
</activity>
    </application>

    </manifest>
